<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Distancia em gasolina calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-alert
trigger="converter"
header=""
message={{resultado}}
[buttons]="alertButtons"
></ion-alert>


<ion-item>
  <ion-input  type="number" [(ngModel)]="Distancia">Distancia em KM </ion-input>
</ion-item>


<ion-radio-group value="resultado"[(ngModel)]="tipo">

  <ion-item>
  <ion-label>Gasolina</ion-label>
  <ion-radio value="Gasolina" slot="start" ></ion-radio>
  </ion-item>

  <ion-item>
  <ion-label>Álcool</ion-label>
  <ion-radio value="Alcool" slot="start"></ion-radio>
  </ion-item>

  <ion-item>
  <ion-label>Diesel</ion-label>
  <ion-radio value="Diesel" slot="start"></ion-radio>
  </ion-item>

</ion-radio-group>

<ion-button expand="block" id="converter" (click)="conversao()">Calcular Consumo</ion-button>