<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      idade
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-alert
    trigger="present-alert"
    header="seu imc é"
    message={{res}}
    [buttons]="alertButtons">
  </ion-alert>

  <ion-toast trigger="present-alert"
   message={{res}}
    [duration]="5000"
    color="danger">
  </ion-toast>


  <ion-item>
    <ion-input  placeholder="Digite seu peso" type="number" [(ngModel)]="peso"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input  placeholder="Digite sua altura" type="number" [(ngModel)]="hautura"></ion-input>
  </ion-item>
  <ion-button expand="block" color="success" (click)="tempodevida()" id="present-alert">calculo</ion-button>

  <ion-label>{{imc}}</ion-label>
</ion-content>

